<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<h1>Create Your Landing Page</h1>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <label for="idea-name">Idea Name</label>
  <input type="text" name="idea-name" id="idea-name" /><br />
  <label for="category">Category (Optional)</label>
  <input type="text" name="category" id="category" /><br />

<h2>Landing:</h2>

<p>
  <label for="one-line-pitch">One-line Pitch</label>
  <input name="one-line-pitch" type="text" id="one-line-pitch" size="100" />
  <br />
  <br />
  <label for="detailed-pitch">Detailed Pitch</label>
  <textarea name="detailed-pitch" id="detailed-pitch" cols="45" rows="5"></textarea>
</p>
<h2>Registration:</h2>
<p>
  <label for="ops-header">Ops Header</label>
  <input name="ops-header" type="text" id="ops-header" size="100" />
  <br />
  <br />
  <label for="call-to-action-desc">Call to Action Description</label>
  <textarea name="call-to-action-desc" id="call-to-action-desc" cols="45" rows="5"></textarea>
  <br />
  <label for="response-email">Response Email</label>
  <input type="text" name="response-email" id="response-email" />
  <br />
  <br />
</p>
</form>
</body>
</html>
