.row
	.span4
	.span4(align='center')
		h1 500 Internal Server Error
		p An unknown error occurred while performing this action. We have recorded it and trying to fix it.
		img(src="/img/404kitten.jpg")
	.span4