.navbar.span12
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/about', style='font-size:2em;') 
				span(style='color:white;font-weight:bold;') HatchY
				span(style='color:yellow;font-weight:bold') o
				span(style='color:white;font-weight:bold;') lk
			ul.nav.pull-right.nav-collapse
				-if(everyauth.loggedIn)
					li
						a(href='/users/#{user.id}')
							- if(isAdmin)
								i.icon-eye-open.icon-white
							- else
								i.icon-user.icon-white 
							|  #{everyauth.user.name} 
							- if(isAdmin)
								| ( 
								strong(style='color:yellow') admin
								| )
					li
						a(href='/logout')
							i.icon-star-empty.icon-white
							|  Sign Out
