<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>landing Page</title>
<style type="text/css">
.body {
	line-height: 1.4em;
	font-family:Arial, Helvetica, sans-serif;
}

td {
	font-size: 15px;
	line-height: 1.4em;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;	
}
</style>
</head>

<body>

<br />
<br />
<br />
<br />
<br />
<table width="200" border="0" align="center" cellpadding="20" cellspacing="0">
  <tr>
    <td><img src="img/hatchyolk-logo.png" width="300" height="62" alt="logo" /><br />
    Validate Your Startup Ideas</td>
  </tr>
  <tr>
    <td><table width="600" border="0">
        <tr>
          <td><h2>Make It:</h2>
          <p>Set up landing page in 15 minutes.</p>
          <h2>Validate It:</h2>
          <p>Drive users to registration page and collect suitable page data.</p>
          <h2>Be Convenienced:</h2>
          <p>With scientific statistics, you can effectively convince investors &amp; strategic partners!</p></td>
          <td>CODE CODE CODE CODE</td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
