
.container.container-fluid(style="background: url('/img/hatchyolk-landing-bg.jpg'), no-repeat, center")
	.row.row-fluid
		.span12
	.row.row-fluid
		.span12
	.row.row-fluid
		.span2
		.span8
			img(src="img/hatchyolk-logo.png", width="300", height="62", alt="logo" )
			p Validate Your Startup Ideas
		.span2
	.row.row-fluid
		.span2
		.span8.strong
			h2 Make It:
			p Set up landing page in 15 minutes.
			h2 Validate It:
			p Drive users to registration page and collect suitable page data.
			h2 Be Convenienced:
			p With scientific statistics, you can effectively convince investors and strategic partners!
		.span2.pull-right
			.auth-page
				ul.auth-service
					li.googl
						a.btn.btn-large.btn-info(href='/auth/google') Sign up with Google
					li.tw
						a.btn.btn-large.btn-info(href='/auth/twitter') Sign up with Twitter
					li.fb
						a.btn.btn-large.btn-info(href='/auth/fb') Sign up with Facebook
	.row.row-fluid
		.span12