.container(style="background: url(img/hatchyolk-landing-bg.jpg) no-repeat center")
	p
	p
	p
	.row
		.span2
		.span8
			img(src="img/hatchyolk-logo.png" width="300" height="62" alt="logo" )
					| Validate Your Startup Ideas</td>
		.span2
	.row
		.span2
		.span6
			h2 Make It:
			p Set up landing page in 15 minutes.
			h2 Validate It:
			p Drive users to registration page and collect suitable page data.
			h2 Be Convenienced:
			p With scientific statistics, you can effectively convince investors &amp; strategic partners!
		.span2
			.auth-page
				ul.auth-service
					li.googl
						a.btn(href='/auth/google') Sign up with Google
					li.tw
						a.btn(href='/auth/twitter') Sign up with Twitter
					li.fb
						a.btn(href='/auth/fb') Sign up with Facebook
		.span2
	p
	p
	p