
<div style="background: url(img/hatchyolk-landing-bg.jpg) no-repeat center">
	<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<table width="200" border="0" align="center" cellpadding="20" cellspacing="0">
  <tr>
    <td><img src="img/hatchyolk-logo.png" width="300" height="62" alt="logo" /><br />
    Validate Your Startup Ideas</td>
  </tr>
  <tr>
    <td><table width="600" border="0">
        <tr>
          <td><h2>Make It:</h2>
          <p>Set up landing page in 15 minutes.</p>
          <h2>Validate It:</h2>
          <p>Drive users to registration page and collect suitable page data.</p>
          <h2>Be Convenienced:</h2>
          <p>With scientific statistics, you can effectively convince investors &amp; strategic partners!</p></td>
          <td>
             <div class='.auth-page'>
             <ul class='auth-service'>
                <li class='googl'>
                    <a class='btn' href='/auth/google'>Sign up with Google</a>
                </li>
                <li class='tw'>
                    <a class='btn' href='/auth/twitter'>Sign up with Twitter</a>
                </li>    
                <li class='fb'>
                    <a class='btn' href='/auth/fb'>Sign up with Facebook</a>
                </li>
             </ul>
             </div>
          </td>
        </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
</div>
